<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
  <script src="{% static 'js/vue.js' %}"></script>
  <script src="{% static 'js/reqwest.js' %}"></script>
  <script src="{% static 'js/swiper.js' %}"></script>

</head>

<body>
  <div id="app">
    <!-- 顶部导航栏 -->
    <div class="top-menu">
      <div class="ui container">
        <div class="ui four column grid">
          <div class="column" v-for='item in topmenu'>
           [[ item.title]]
          </div>
        </div>
      </div>
    </div>
    <!-- 首页幻灯 -->
    <div id="banner">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="item in banner" :key='item.id'>
            <img :src="item.img" alt="" style=" width: 100%;">
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!-- 按钮功能区 -->
    <div class="nav-btn">
      <div class="ui container">
        <div class="ui four column grid">
          <div class="column"><img src="/static/icon/riji.png" alt=""></div>
          <div class="column"><img src="/static/icon/beiwang.png" alt=""></div>
          <div class="column"><img src="/static/icon/tupian.png" alt=""></div>
          <div class="column"><img src="/static/icon/shezhi.png" alt=""></div>
          <div class="column"><img src="/static/icon/riji.png" alt=""></div>
          <div class="column"><img src="/static/icon/beiwang.png" alt=""></div>
          <div class="column"><img src="/static/icon/tupian.png" alt=""></div>
          <div class="column"><img src="/static/icon/shezhi.png" alt=""></div>
        </div>
      </div>
    </div>
    <!-- 文章列表 -->
    <div class="article-list">
      <div class="ui container">
        <div class="ui header">
          <h2>最近更新</h2>
        </div>
        {% for item in article %}
          <div class="article-item">
            <img src="/upload/{{item.img}}" alt="">
            <div class="title">
              {{item.title}}
              <span>{{item.createtime}}</span>
            </div>
            <div class="clear"></div>
          </div>        
        {% endfor %}
        <div class="clear"></div>
      </div>
    </div>
    <!-- 底部tabbar -->
    <div class="tabBar">
      <div class="ui four column grid">
        <div class="column">首页</div>
        <div class="column">分类</div>
        <div class="column">热门</div>
        <div class="column" @click='toAdmin' v-if='loginType'>后台</div>
        <div class="column" @click='showUserUI' v-else>登录</div>
      </div>
    </div>

    <!-- 登录 -->
    <div id="login" v-if="userUI">
      <div class="userUi">
        <div class="ui container">
          <h3>登录</h3>
          <div class="input">
            <div class="item">
              <input type="text" v-model='username' placeholder="用户名">
            </div>
            <div class="item">
              <input type="password" v-model='password' placeholder="密码">
            </div>
          </div>

          <button type="button" name="button" @click='showUserUI'>取消</button>
          <button type="button" name="button" @click='userLogin'>确定</button>
        </div>
      </div>
    </div>


  </div>


</body>
<script src="{% static 'js/index.js' %}"></script>

</html>