{% extends "mycms/index.html" %}
{% block rightBody %}
 
<h6 class="text-uppercase">Cards With images</h6>
     <hr>
 <div class="row">
   {% for item in article %}
   <div class="col-12 col-lg-4">
    <div class="card">
      <img src="/upload/{{ item.img }}" class="card-img-top" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{ item.title }}</h4>
        <h6>{{ item.createtime | date:'Y-m-d' }}</h6>
          <p>
            {% autoescape off %}
              {{ item.content | truncatechars:30}}
            {% endautoescape %}
          </p>
        <hr>
            <a href="/mycms/article/{{ item.id }}/" class="btn btn-light btn-sm text-white"><i class="fa fa-star mr-1"></i> 查看详细</a>
            <a href="{% url 'article_delete' item.id %}" class="btn btn-light btn-sm text-white"><i class="fa fa-star mr-1"></i> 删除</a>
      </div>
    </div>
   </div>
   {% endfor %}
 </div><!--End Row-->
{% endblock  %}

