html {
  font-size: 10px;
}

.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 5rem;
  background: #00000080;
  color: #fff;
  padding-top: 2rem;
}

.top-menu .column {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

#banner img {}

.nav-btn {
  margin-top: 1rem;
}

.nav-btn .column {
  text-align: center;
}

.nav-btn .column img {
  width: 5rem;
}

.article-list {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.article-item {
  width: 100%;
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 3rem;
}

.article-item img {
  width: 100%;
  float: left;
  border-radius: 1rem;
}

.article-item .title {
  margin-top: -3rem;
  float: left;
  width: 100%;
  height: 3rem;
  background: #0006;
  color: #fff;
  padding-left: 0.5rem;
  border-radius: 0 1rem;
}

.article-item span {
  float: right;
  padding-right: 0.5rem;
}

.clear {
  clear: both;
}

.tabBar {
  position: fixed;
  width: 100%;
  height: 4rem;
  bottom: 0;

  background: #fff;
}

.tabBar .ui.grid {
  margin-top: 0;
}

.tabBar .column {
  text-align: center;
}
#login .userUi{
  position: fixed;
  top: 20rem;
  width: 100%;
  height: 20rem;
}

#login .userUi .ui.container {
  background:#fff;
  padding: 1rem 1rem 1rem 1rem;
  border: 1px solid #efefef;
  text-align: center;
}

#login .userUi .ui.container button{
  background: #fff;
  width: 10rem;
  height: 3rem;
  margin-left: 1rem;
  border: 1px solid #b9b9b9;
  border-radius: 1.5rem;
}

#login .userUi .ui.container .item{
  margin-bottom: 1rem;
  width: 100;
  height: 4rem;
}
#login .userUi .ui.container .item input{
  width: 100%;
  height: 100%;
  border: 1px solid #b9b9b9;
  border-radius: 2rem;
  text-align: center;
}
